:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --color: #000000;
  --third-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.container {
  min-width: 480px;
  max-width: 1200px;
}

.page-header {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation__list,
.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .site-navigation__list,
.site-contacts {
    display: none;
  }
  .mobile-site-contacts__icon {
    display: none;
  }
}
.site-navigation__link,
.site-contacts__link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.site-navigation__link:hover,
.site-navigation__link:focus,
.site-contacts__link:hover,
.site-contacts__link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.menu-toggle.js-close-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  top: 8px;
  right: 8px;
  -webkit-transition: fill var(--timing-function), border var(--timing-function);
  transition: fill var(--timing-function), border var(--timing-function);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-site-navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.mobile-site-navigation__list li {
  padding-top: 32px;
}

.mobile-site-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  gap: 32px;
}
.mobile-site-navigation__link--active {
  color: var(--accent-color);
}

.mobile-site-contacts {
  padding: 0;
  margin-top: 306px;
  list-style-type: none;
}
.mobile-site-contacts li:last-child {
  padding-top: 32px;
}

.mobile-site-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: valc(28/24);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.mobile-site-contacts__link:hover, .mobile-site-contacts__link:focus {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--accent-color);
}

.mobile-site-contacts__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 64px;
}
.mobile-site-contacts__network li {
  position: relative;
  padding-right: 20px;
}

.mobile-site-contacts__network-item::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 1px;
  left: 100%;
  bottom: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  background-color: var(--accent-color);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-site-contacts__network-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .page-head {
    padding: 118px 0;
    width: 480px;
    height: 400px;
    background: #c4c4c4;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header\(480\).jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header\(480\).jpg);
    background-size: 480px 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-head {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/header\(480\)@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header\(480\)@2x.jpg);
  }
}
.head-content__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.head-content__button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 24px;
  background-color: #2196f3;
  color: var(--secondary-color);
  border: 0;
  cursor: pointer;
  font-family: "Roboto";
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: background-color var(--timing-function), box-shadow var(--timing-function);
  transition: background-color var(--timing-function), box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}
.head-content__button:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--timing-function), visibility var(--timing-function);
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  top: 8px;
  right: 8px;
  -webkit-transition: fill var(--timing-function), border var(--timing-function);
  transition: fill var(--timing-function), border var(--timing-function);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*Modal form*/
.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 10px 0;
}

.form-field svg {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
}

.form-field__label {
  padding-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
  padding: 11px 42px;
}
.form-field__input:hover, .form-field__input:focus {
  border: 1px solid #2196F3;
}
.form-field__input:hover ~ svg, .form-field__input:focus ~ svg {
  fill: var(--accent-color);
}

.form-field:hover svg,
.form-field:focus svg {
  fill: var(--accent-color);
}

.form-field__comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
}
.form-field__comment:hover, .form-field__comment:focus {
  border: 1px solid #2196F3;
}

.policy-checkbox {
  position: relative;
  margin: 20px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: background-color var(--timing-function), border var(--timing-function);
  transition: background-color var(--timing-function), border var(--timing-function);
}

.policy-checkbox__button {
  position: absolute;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  cursor: pointer;
  background-color: transparent;
}
.policy-checkbox__button:hover, .policy-checkbox__button:focus {
  background-color: #2196F3;
  border: var(--accent-color);
}

.policy-checkbox__button svg {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.policy-checkbox__label {
  font-weight: 400;
  line-height: 1.7142857143;
  color: var(--primary-text-color);
  padding-left: 20px;
}

.policy-checkbox__link {
  color: var(--accent-color);
}

.form__button {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.form__button:hover, .form__button:focus {
  background-color: #188CE8;
}

.precedence {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.precedence__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  margin-top: 30px;
}
.precedence__item:first-child {
  margin-top: 0;
}

.precedence__icon {
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 192px;
}

.precedence__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}

.precedence__text {
  line-height: 1.71;
  color: var(--primary-text-color);
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .our-works {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
.our-team {
  background: #f5f4fa;
}

.our-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1717857143;
  text-align: center;
  color: var(--title-text-color);
  margin: 0;
}

.portfolio-team {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.portfolio-team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}
.portfolio-team__item img {
  width: 450px;
  height: 460px;
}

.portfolio-team__content {
  margin: 0;
  padding: 30px 0 0 0;
}

.portfolio-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
  margin: 0;
}

.portfolio-team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin: 0;
  padding-top: 10px;
}

.portfolio-team__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 16px 0 30px 0;
}

.portfolio-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13.88px 12px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--timing-function), fill var(--timing-function);
  transition: background-color var(--timing-function), fill var(--timing-function);
}
.portfolio-team__link:hover, .portfolio-team__link:focus {
  background-color: #2196f3;
}
.portfolio-team__link:hover .portfolio-team__icon, .portfolio-team__link:focus .portfolio-team__icon {
  fill: var(--secondary-color);
}

.portfolio-team__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  font-size: 14px;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  margin: 0;
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

p {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 16px 0 16px 15px;
}

.site-navigation__label {
  color: var(--accent-color);
}
.site-navigation__label:last-child {
  color: var(--color);
}/*# sourceMappingURL=main.css.map */