.precedence {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .precedence__item {
    flex-basis: calc((100% - 90px) / 4);
    margin-top: 30px;

    &:first-child{
        margin-top: 0;
    }
  }
  
  .precedence__icon {
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 25px 192px;
  }
  
  .precedence__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .precedence__text {
    line-height: 1.71;
    color: var(--primary-text-color);
    margin: 0;
  }
  