.page-footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    
  }

    .footer-content__link {
      font-family: "Raleway";
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      
    }
    
    .footer-content__text {
      color: var(--accent-color);

      &:last-child{
        color: var(--secondary-color);
      }
    }
    
    .footer-content__address {
      line-height: 1.71;
      color: var(--secondary-color);
      font-style: normal;
      margin: 0;
      margin-top: 28px;
    }
    
    .footer-content__contact {
      list-style-type: none;
      margin: 0;
      margin-top: 12px;
      padding: 0;
    }

    .footer-content__item{
      padding-top: 12px;

      &:first-child{
        padding-top: 0;
      }
    }

    .footer-content__information {
      font-style: normal;
      line-height: 1.71;
      color: var(--third-color);
      text-decoration: none;
      margin-top: 9px;
      transition: color var(--timing-function);

      &:hover,
      &:focus{
        color: var(--accent-color);
      }
    }
  
      
      @media screen and (max-width:767px) {
        .footer-network{
          padding-top: 60px;
          padding-bottom: 60px;
        }

        .footer-content,
        .footer-form,
        .footer-form__thumb{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

      }

      @media screen and (min-width:768px) and (max-width:1199px) {
        .footer-form{
          margin: 0;
        }
        
        .footer-content{
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          text-align: center;
        }

        .footer-content__main{
          margin-left: 40px;
        }

        .footer-network{
          margin-left: 165px;
        }

        .footer-content .footer-form{
          margin: 60px 0 0 159px;
        }

        .footer-form__thumb{
          display: flex;
          flex-direction: column;
        }
      }

      @media screen and (max-width:1199px) {
        .footer-form__input{
          width: 450px;
          margin-bottom: 20px;
        }
      }

      @media screen and (min-width:1200px) {
        .footer-content{
          display: flex;
          align-items: baseline;
        }

        .footer-content__address {
          margin-top: 20px;
        }

        .footer-form {
          margin-left: auto;
        }
        
        .footer-form__thumb{
          display: flex;
        }
        
        .footer-network {
          margin-left: 70px;
        }
        
        .footer-network__text {
          padding-top: 12px;
        }

      }