.our-clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    margin: 0;
    margin-bottom: 30px;
  }

  .regular-customers {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .regular-customers__link {
    display: flex;
    justify-content: center;
    padding: 15px 31px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color var(--timing-function);

    &:hover,
    &:focus{
        border-color: #2196f3;
    }

    &:hover .regular-customers__icon,
    &:focus .regular-customers__icon{
        fill: #2196f3;
    }

    & .regular-customers__icon{
        transition: fill var(--timing-function);
    }
  }
  
  .regular-customers__icon {
    fill: var(--icon-color);
  }

  @media screen and (max-width:767px) {
    .regular-customers{
      display: flex;
      flex-wrap: wrap;
      gap: 26px;
    }

    .regular-customers__item{
      flex-basis: calc(100% - 30px) / 2;
    }
    
    .regular-customers__link{
      padding: 16px 52px;
    }
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
    .regular-customers{
      display: flex;
      flex-wrap: wrap;
      gap: 27px;
    }

    .regular-customers__item{
      flex-basis: calc(100% - 60px) / 3;
    }
    
    .regular-customers__link{
      padding: 16px 60px;
    }
  }

  @media screen and (min-width:1200px) and (max-width:1600px) {
    .our-clients__title {
      margin-bottom: 50px;
    }

    .regular-customers {
      display: flex;
      gap: 30px;
    }
  }